* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumGothic';
}

/* container */
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* header */
#header {
    padding: 45px 0 20px;
    overflow: hidden;
}
#header .headerLogo {
    float: left;
}
#header .headerLogo img {
    width: 150px;
    height: 25px;
}
#header nav {
    float: right;
}
#header nav ul {
    display: flex;
}
#header nav ul .menu {
    margin-left: 20px;
    position: relative;
    z-index: 9999;
}
#header nav ul .menu a {
    display: inline-block;
}
#header nav .menu .hmenu {
    position: absolute;
    width: 100%;
    z-index: 9999;
    display: block;
    background-color: rgb(202, 202, 202);
}
#header nav .menu .hmenu a {
    display: block;
    text-align: center;
    display: none;
}
/* main */
#main {
    background: rgb(167, 140, 140);
}

/* banner */
#banner {}
#banner .bannerWrap {
    position: relative;
}
#banner .bannerWrap .bannerSlider {
    width: 1920px;
    overflow: hidden;
}
#banner .bannerWrap .bannerSlider .sliderInner {
    display: flex;
    width: 5760px;
}
#banner .bannerWrap .bannerSlider .sliderInner .slider {
    width: 1920px;
}
#banner .bannerWrap .bannerSlider .sliderInner .slider img {
    /* width: 100%; */
    width: 100%;
    vertical-align: top;
}
.slider:nth-child(1) {z-index: 3;}
.slider:nth-child(2) {z-index: 2;}
.slider:nth-child(3) {z-index: 1;}

.sliderBtn a {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; height: 100px;
    background: rgba(112, 71, 71, .5);
    opacity: 0;
}
.sliderBtn .prev {
    left: 0;
}
.sliderBtn .next {
    right: 0;
}

/* section2 */
#section2 {
    padding: 30px 0;
    background: #f3f7f8;
}
#section2 .title02 {
    position: relative;
    margin-bottom: 20px;
}
#section2 .title02 h3 {
    text-align: center;
    font-size: 20px;
}
#section2 .title02 img {
    position: absolute;
    width: 30px; height: 30px;
    right: 0; top: 0;
}
.contBox01 {
    display: flex;
    justify-content: space-between;
}
.contBox01 .content01 {
    flex: 0 0 24%;
    width: 250px; height: 190px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 30px;
}
.dday {
    display: inline-block;
    border: 2px solid #6891d3;
    border-radius: 5px;
    background: #fff;
    padding: 3px 10px;
    color: #6891d3;
    margin: 10px 0;
    font-size: 10px;
}
.content01 h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.content01 .cont1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.content01 .cont1:nth-child(2) {
    margin-top: 5px;
}
.content01 .cont1 div {
    font-size: 12px;
    color: #fff;
    background: #6891d3;
    border-radius: 3px;
    padding: 3px;
}
.content01 .cont1 span {
    font-size: 12px;
}

/* section3 */
#section3 {
    padding: 30px 0;
    background: #fff;
}
.contBox02 {
    display: flex;
    justify-content: space-between;
}
#section3 .left{
    flex: 0 0 38%;
    width: 300px;
}
.left .leUP {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 30px;
}
.title03 {
    overflow: hidden;
    margin-bottom: 20px;
}
.title03 h3 {
    float: left;
    font-size: 20px;
    color: rgb(167, 167, 167);
}
.title03 h3.active {
    color: rgb(0, 0, 0);
}
.title03 h3:nth-child(2)::before {
    content: '|';
    margin: 0 5px;
    color: #000;
}
.title03 img {
    float: right;
    width: 30px; height: 30px;
}
.tab ul li{
    display: none;
}
.tab ul li.show {
    display: block;
}
.leUP .cont2 {
    margin-bottom: 10px;
}
.leUP .cont2 div {
    font-size: 16px;
}
.leUP .cont2 span {
    font-size: 14px;
}

.left .leDouwn {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    background-image: url(../img08/img01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section3 .right{
    flex: 0 0 60%;
    width: 600px;
}
.right .riUP {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 30px;
}
.cont3 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.cont3 div {
    text-align: center;
    flex: 0 0 20%;
    font-size: 12px;
    color: #fff;
    background: #6891d3;
    padding: 3px;
    margin-right: 10px;
}
.cont3 .desc {
    flex: 0 0 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: 12px;
}
.cont3 .day {
    color: rgb(201, 199, 199);
    font-size: 12px;
}
.right .riDouwn {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
    padding: 15px 30px;
}
.contBox4 {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.cont4 {
    flex: 0 0 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cont4 ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cont4.le::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1px; height: 90px;
    background: #000;
    top: 50%; left: 50%;
    transform: translateY(-50%);
}
/* footer */
#footer {
    background: #263f5e;
    padding: 20px;
}
.up {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.up::after {
    position: absolute;
    content: '';
    display: inline-block;
    color: #879bb6;
    top: 135%;
    width: 100%; height: 1px;
    z-index: 999;
}
.up ul {
    float: left;
    display: flex;
}
.up ul li {
    color: #879bb6;
    font-size: 10px;
}
.up ul li::after {
    content: '|';
    margin: 0 5px;
}
.up ul li:last-child::after {
    content: '';
}
.up #family {
    float: right;
    background: transparent;
    color: #879bb6;
    padding: 5px 10px;
    font-size: 12px;
}
.down {
    margin: 20px 0 40px;
    display: flex;
    justify-content: space-between;
}
.down .footerLeft {
    display: flex;
    align-items: center;
}
.down .footerLeft .fLogo {
    width: 150px; height: 50px;
    margin-right: 10px;
}
.down .footerLeft p {
    font-size: 10px;
    color: #879bb6;
    margin-right: 10px;
}
.down .footerLeft .icon img {
    width: 25px; height: 25px;
}
.footerRight {
    color: #879bb6;
}
.footerRight div {
    font-size: 10px;
}
.footerRight div:last-child {
    font-size: 20px;
    font-weight: bold;
}