*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 133, 133);
    color: #FFFFE7;
    font-family: 'Silk Serif';
}

/* loader */
#loader {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    z-index: 10000;
}
#loader .loader {
    position: relative;
    display: flex;
    padding: 2vw;
    text-align: center;
}
#loader .loadImg {
    margin-right: auto;
}
#loader .loadImg img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#loader .siteTitle{
    font-family: 'Silk Serif';
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin-left: auto;
}

/* container */
.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 10000;
}
#header .headerWrap {
    position: relative;
    display: flex;
    padding: 2vw;
    text-align: center;
    justify-content: space-between;
}
#header .headerWrap .ham {
    position: relative;
    width: 30px;
    height: 30px;
}
#header .headerWrap .ham span {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 22px; height: 1px;
    background: #FFFFE7;
}
#header .headerWrap .ham span::before {
    position: absolute;
    left: 50%; top: 6px;
    transform: translateX(-50%);
    content: '';
    width: 22px; height: 1px;
    background: #FFFFE7;
}
#header .headerWrap .ham span::after {
    position: absolute;
    left: 50%; top: -6px;
    transform: translateX(-50%);
    content: '';
    width: 22px; height: 1px;
    background: #FFFFE7;

}
#header .headerWrap .home {
    font-family: 'Silk Serif';
    font-size: 200;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}
#header .headerWrap .contactPage {
    position: relative;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400px;
    text-transform: uppercase;
    line-height: 30px;
}
#header .headerWrap .contactPage a {
    color: #FFFFE7;
}
#header .headerWrap .contactPage::after {
    position: absolute;
    left: 50%; top: 25px;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 100%; height: 1px;
    background: #FFFFE7;
}

/* main */
#main {}

/* intro */
#intro{
    background: rgb(82, 55, 55);
    width: 100%;
    z-index: 0;
    position: relative;
}
#main #intro .imgWrap {
    max-width: 100%;
    overflow: hidden;
}
#main #intro .imgWrap img{
    vertical-align: top;
    width: 100vw;
}
.introTitle {
    position: absolute;
    left: 50%; top: 8%;
    transform: translateX(-50%);
    /* text-align: center;
    margin-top: 17vh; */
}
.introTitle div {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
}
.introDesc {
    position: absolute;
    left: 50%; bottom: 4%;
    transform: translateX(-50%);
    /* text-align: center;
    margin-top: 185vh; */
}
.introDesc div {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.04vw;
    text-align: center;
    white-space: nowrap;
}

/* about */
#about {
    position: relative;
    background-color: #9A8275;
    padding: 22vw 0 18vw;
    overflow: hidden;
}

/* menuImage */
.meImgWrap {
    position: absolute;
    left: 80%; 
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}
.meImgWrap .menuImage {
    width: 25vw; height: 30vw;
    display: flex;
}
.meImgWrap .menuImage .bulr {
    opacity: 0;
    transition: opacity .5s ease, visibility 0s ease .5s, z-index 0s .5s,max-width 0s .5s;
}
.meImgWrap .menuImage .bulr.show {
    opacity: 1;
}
.meImgWrap .menuImage .bulr img {
    position: absolute;
    width: 25vw; height: 30vw;
    object-fit: cover;
}

/* menu */
.menu {
}
#about .menu ul {
    
}
#about .menu li {
    position: relative;
    display: flex;
}
#about .menu li:nth-child(2) {
    margin-left: 5%;
}
#about .menu li a {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-size: 10vw;
    line-height: 1.1;
    font-style: italic;
    color: #FFFFE7;
    text-transform: uppercase;
    margin-right: 3vw;
}
#about .menu li .menuAllow {
    position: relative;
}
#about .menu li .menuAllow::before {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    display: inline-block;
    content: '';
    background-image: url(../img/allow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw; height: 8vw;
}

/* aboutIntro */
#about .aboutIntro h2 {
    font-family: 'Silk Serif';
    font-weight: 300;
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    margin: 18vw 0 7vw;
    overflow: hidden;
}
#about .aboutIntro .aboutImg {
    display: flex;
    justify-content: center;
}
#about .aboutIntro .aboutImg img {
    display: block;
    text-align: center;
    width: calc(100%/3);
}
.aboutIntro p {
    font-family: 'Chosunilbo_myungjo';
    display: block;
    float: right;
    margin: .5vw 0;
    font-size: 1.2vw;
}
.aboutIntro h3 {
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    font-size: 2.6vw;
    margin: 14vw 0 5.5vw;
}
.aboutIntro .introduce {
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.2vw;
    margin-bottom: 19vw;
}
.mySkill {
    overflow: hidden;
}
.mySkill h2 {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-style: italic;
    line-height: .8;
    font-size: 5vw;
    text-transform: uppercase;
    float: right;
}
.mySkill .skillList {
    width: 100%;
    margin-top: 16vw;
}
.skillList .listDe {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 1vw;
    margin-top: 1.5vw;
    border-bottom: 1px solid #FFFFE7;
    position: relative;
}
.skillList .listDe span:first-child {
    flex: 0 0 5%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1vw;
}
.skillList .listDe h4 {
    flex: 0 0 10%;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1vw;
}
.skillList .listDe .skillDesc {
    flex: 0 0 70%;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.05vw;
    line-height: 1.4;
}
.skillList .listDe span:last-child {
    position: absolute;
    right: 0;
    flex: 0 0 2%;
    font-size: 1vw;
}

/* reference */

/* siteCoding */
#siteCoding {
    background: #DABAB4;
    padding: 30vw 0 35vw;
}
#siteCoding .referTitle {
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 5.2vw;
}
#siteCoding .referTitle div:nth-child(2) {
    font-style: normal;
    font-weight: 200;
}
#siteCoding .referIntro {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.04vw;
    text-align: center;
    white-space: nowrap;
    margin: 2vw;
}
#siteCoding .underAllow {
    position: relative;
    margin: 1.6vw;
    height: 8vw;
}
#siteCoding .underAllow::before {
    position: absolute;
    display: inline-block;
    content: '';
    background-image: url(../img/allow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 8vw;
    left: 50%; top: 70%;
    transform: translateX(-50%) rotate(90deg);
}
#siteCoding .siCoTitle {
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    margin-top: 16vw;
}
#siteCoding .siCoTitle div {}
.site {
    position: relative;
    margin: 50vw 0;
    width: 940px;
    max-width: 70%;
    margin-left: auto;
    background: rgb(121, 67, 67);
}
.site .num {
    position: absolute;
    font-weight: 900;
    font-size: 52vw;
    letter-spacing: -4vw;
    color: #CFA8A0;
    opacity: .5;
    left: -33.1vw; top: -60vw;
}
.site .title{
    position: absolute;
    font-weight: 400;
    font-size: 8vw;
    line-height: 0.9;
}
.site .referDesc {
    position: absolute;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.25vw;
    line-height: 1.4;
    z-index: 10;
    left: -5vw;
}
.site .juumBtn {
    position: absolute;
}
.site .img-Wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.site .img-Wrap .mock {}
.site .img-Wrap .mock img {
    width: 100%;
}


/* footer */