*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFE7;
    font-family: 'Silk Serif';
}

/* loader */
.loader {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    z-index: 10000;
}
.loader .loaderInner {
    position: relative;
    display: flex;
    padding: 2vw;
    text-align: center;
}
.loaderInner .loadImg {
    margin-right: auto;
}
.loaderInner .loadImg img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.loaderInner .siteTitle {
    font-family: 'Silk Serif';
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin-left: auto;
}

/* container */
.container {
    max-width: 80%;
    /* width: 100%; */
    margin: 0 auto;
    position: relative;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 10000;
}
#header .headerWrap {
    position: relative;
    display: flex;
    padding: 2vw;
    text-align: center;
    justify-content: space-between;
}
#header .headerWrap .ham {
    position: relative;
    width: 30px;
    height: 30px;
}
#header .headerWrap .ham span {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 22px; height: 1px;
    background: #FFFFE7;
}
#header .headerWrap .ham span::before {
    position: absolute;
    left: 50%; top: 6px;
    transform: translateX(-50%);
    content: '';
    width: 22px; height: 1px;
    background: #FFFFE7;
}
#header .headerWrap .ham span::after {
    position: absolute;
    left: 50%; top: -6px;
    transform: translateX(-50%);
    content: '';
    width: 22px; height: 1px;
    background: #FFFFE7;

}
#header .headerWrap .home {
    font-family: 'Silk Serif';
    font-size: 200;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}
#header .headerWrap .contactPage {
    position: relative;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400px;
    text-transform: uppercase;
    line-height: 30px;
}
#header .headerWrap .contactPage a {
    color: #FFFFE7;
}
#header .headerWrap .contactPage::after {
    position: absolute;
    left: 0; top: 25px;
    /* transform: translateX(-50%); */
    content: '';
    display: inline-block;
    width: 0; height: 1px;
    background: #FFFFE7;
    transition: width 700ms ease;
}
#header .headerWrap .contactPage:hover::after {
    width: 100%;
}

/* up */
.up {
    transform: translateY(135%) skewY(5deg);
    transition: transform 1.5s cubic-bezier(.22, .61, .36, 1);
}
/* appear */
.appear {
    opacity: 0;
    transition: opacity 1000ms ease;
}

/* main */
#main {}

/* intro */
#intro{
    width: 100%;
    position: relative;
}
#main #intro .imgWrap {
    /* position: relative; */
    max-width: 100%;
    overflow: hidden;
}
#intro .imgWrap::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 28, 26, 0.6);
}
#main #intro .imgWrap img{
    vertical-align: top;
    width: 100vw;
}
.introTitle {
    position: absolute;
    left: 50%; top: 8%;
    transform: translateX(-50%);
    text-align: center;
}
.introTitle div {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    width: 90vw;
    padding-top: 1vw;
}
.textInner > div {
    transform: translateY(135%) skewY(5deg);
    transition: transform 1.5s cubic-bezier(.22, .61, .36, 1);
}
.introDesc {
    position: absolute;
    left: 50%; bottom: 4%;
    transform: translateX(-50%);
}
.introDesc div {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.04vw;
    text-align: center;
    white-space: nowrap;
}
/* about */
#about {
    position: relative;
    background-color: #9A8275;
    padding: 22vw 0 18vw;
    overflow: hidden;
}

/* menuImage */
.meImgWrap {
    position: absolute;
    left: 80%; 
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}
.meImgWrap .menuImage {
    width: 25vw; height: 30vw;
    display: flex;
}
.meImgWrap .menuImage .bulr {
    opacity: 0;
    transition: opacity .5s ease, visibility 0s ease .5s, z-index 0s .5s,max-width 0s .5s;
}
.meImgWrap .menuImage .bulr.show {
    opacity: 1;
}
.meImgWrap .menuImage .bulr img {
    position: absolute;
    width: 25vw; height: 30vw;
    object-fit: cover;
}

/* menu */
#about .menu li {
    position: relative;
    padding: 0 1vw;
    overflow: hidden;
}
#about .menu li:nth-child(2) {
    margin-left: 5%;
}
#about .menu li .up {
    display: flex;
} 
#about .menu li a {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-size: 10vw;
    line-height: 1.1;
    font-style: italic;
    color: #FFFFE7;
    text-transform: uppercase;
    margin-right: 3vw;
}
#about .menu li .menuAllow {
    position: relative;
}
#about .menu li .menuAllow::before {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    display: inline-block;
    content: '';
    background-image: url(../img/allow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw; height: 8vw;
}

/* menuMobile */
.menuMobile {
    display: none;
}
#about .menuMobile li {
    position: relative;
    display: flex;
}
#about .menuMobile li:nth-child(2) {
    margin-left: 5%;
}
#about .menuMobile li a {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-size: 10vw;
    line-height: 1.1;
    font-style: italic;
    color: #FFFFE7;
    text-transform: uppercase;
    margin-right: 3vw;
}
#about .menuMobile li .menuAllow {
    position: relative;
}
#about .menuMobile li .menuAllow::before {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    display: inline-block;
    content: '';
    background-image: url(../img/allow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw; height: 8vw;
}

/* aboutIntro */
#about .aboutIntro .hiddenWrap {
    overflow: hidden;
    margin: 18vw 0 7vw;
}
#about .aboutIntro .hiddenWrap h2 {
    font-family: 'Silk Serif';
    font-weight: 300;
    font-size: 10vw;
    line-height: 0.95;
    text-transform: uppercase;
    text-align: center;
}
#about .aboutIntro .aboutImg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2000ms ease;
}
#about .aboutIntro .aboutImg img {
    width: calc(100%/3);
}
.aboutIntro p {
    font-family: 'Chosunilbo_myungjo';
    display: block;
    float: right;
    margin: .5vw 0;
    font-size: 1.2vw;
}
.aboutIntro h3 {
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    font-size: 2.6vw;
    margin: 14vw 0 5.5vw;
}
.aboutIntro .introduce {
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.2vw;
    margin-bottom: 19vw;
}
.mySkill {
    overflow: hidden;
}
.hiddenWrap2 {
    overflow: hidden;
}
.mySkill h2 {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-style: italic;
    line-height: .8;
    font-size: 5vw;
    text-transform: uppercase;
    float: right;
    padding-top: 1vw;
}
.mySkill .skillList {
    width: 100%;
    margin-top: 16vw;
}
.skillList .listDe {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 1vw;
    margin-top: 1.5vw;
    border-bottom: 1px solid #FFFFE7;
    position: relative;
}
.skillList .listDe span:first-child {
    flex: 0 0 5%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1vw;
}
.skillList .listDe h4 {
    flex: 0 0 10%;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1vw;
}
.skillList .listDe .skillDesc {
    flex: 0 0 70%;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.05vw;
    line-height: 1.4;
}
.skillList .listDe span:last-child {
    position: absolute;
    right: 0;
    flex: 0 0 2%;
    font-size: 1vw;
}

/* reference */

/* siteCoding */
#siteCoding {
    background: #DABAB4;
    padding-top: 30vw;
}
#siteCoding .referTitle {
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 5.2vw;
}
#siteCoding .referTitle div:nth-child(2) {
    font-style: normal;
    font-weight: 200;
}
#siteCoding .referIntro {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.04vw;
    text-align: center;
    white-space: nowrap;
    margin: 2vw;
}
.allowHidden {
    overflow: hidden;
    margin-top: 10vw;
    padding-bottom: 1.2vw;
}
.hiddenWrap2.under {
    text-align: center;
    transform: translateY(-135%) rotate(90deg);
    transition: transform 1.5s cubic-bezier(.22, .61, .36, 1);
}
#siteCoding .underAllow {
    width: 10vw;
    height: 8vw;
}
/* #siteCoding .underAllow::before {
    position: absolute;
    display: inline-block;
    content: '';
    background-image: url(../img/allow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 8vw;
    left: 50%;
    transform: translate(-50%, -135%) rotate(90deg);
} */
#siteCoding .siCoTitle {
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    margin: 14vw 0 11vw;
}
.site {
    position: relative;
    background: #DABAB4;
    overflow: hidden;
}
.site .siteInner {
    position: relative;
    padding: 60vw 0 50vw;
}
.site .siteInner .num {
    position: absolute;
    font-size: 52.0835vw;
    font-weight: 900;
    color: #CFA8A0;
    letter-spacing: -4vw;
    opacity: .5;
    top: -60vw;
    left: -3vw;
}
.hiddenWrap3 {
    position: absolute;
    top: -18vw;
    z-index: 10;
    padding-bottom: 2vw;
    overflow: hidden;
}
.site .siteInner .title {
    /* position: absolute; */
    font-weight: normal;
    line-height: 0.9;
    font-size: 7.8125vw;
    z-index: 10;
    /* top: -18vw; */
    /* left: -0.7vw; */
    letter-spacing: -.05vw;
    color: #FFFFE7;
    text-transform: capitalize;
}
.site .siteInner .referDesc {
    position: absolute;
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.4;
    font-size: 1.25vw;
    width: 44%;
    z-index: 10;
    top: -0.5vw;
    color: #FFFFE7;
}
.site .siteInner .jumpBtn {
    position: absolute;
    display: inline-block;
    font-size: 1.5625vw;
    line-height: 1.5vw;
    padding: 0.8vw 9vw 1vw;
    border: 1px solid #FFFFE7;
    z-index: 10;
    top: 11vw;
}
.site .siteInner .jumpBtn a {
    color: #FFFFE7;
}
.site .siteInner .img-Wrap {
    position: relative;
    float: right;
    top: -18vw;
}
.site .siteInner .img-Wrap .mock {
    /* position: relative; */
    width: 48.959vw;
    height: 36.719vw;
}
.site .siteInner .img-Wrap .mock img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;
}
/* even */
.site:nth-child(even) {
    position: relative;
    background: #FEEEEB;
    overflow: hidden;
}
.site:nth-child(even) .siteInner .num {
    color: #F6D6CF;
    left: 26vw;
}

.site:nth-child(even) .siteInner .hiddenWrap3 {
    right: 0;
}
.site:nth-child(even) .siteInner .title {
    color: #767070;
}
.site:nth-child(even) .siteInner .referDesc {
    color: #767070;
    text-align: right;
    right: 0;
}
.site:nth-child(even) .siteInner .jumpBtn {
    border: 1px solid #767070;
    top: 11vw;
    right: 0;
}
.site:nth-child(even) .siteInner .jumpBtn a {
    color: #767070;
}
.site:nth-child(even) .siteInner .img-Wrap {
    float: left;
}

/* circle */
.circle {
    width: 18.49vw;
    height: 18.49vw;
    /* background: rgb(128, 71, 71); */
    position: absolute;
    bottom: -8.4%;
    left: 50%;
    transform: translateX(-50%);
}
.circle .innerCircle {}
.circle .innerCircle .circleImg {
    position: absolute;
    background-image: url(../img/circle02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: rotation 12s linear infinite;
}
.circle.nonColor .innerCircle .circleImg {
    background-image: url(../img/circle01.svg);
}
.circle.nonColor {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* javaJqu */
#javaJqu {
    background: #E3DEE8;
    padding-top: 30vw;
}
#javaJqu .jjCoTitle {
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    margin: 16vw 0 11vw;
    color: #807A85;
    margin-bottom: 15vw;
}
.site.jj {
    background: #B5AABE;
}
.site.jj .siteInner .num {
    color: #ADA3B6;
}
.site.jj .siteInner .title {
    color: #F9F9F9;
}
.site.jj .siteInner .referDesc {
    color: #F9F9F9;
}
.site.jj .siteInner .jumpBtn {
    border: 1px solid #F9F9F9;
}
.site.jj .siteInner .jumpBtn a {
    color: #F9F9F9;
}
/* even */
.site.jj:nth-child(even) {
    background: #E3DEE8;
}
.site.jj:nth-child(even) .siteInner .num {
    color: #DBD5E1;
}
.site.jj:nth-child(even) .siteInner .title {
    color: #807A85;
}
.site.jj:nth-child(even) .siteInner .referDesc {
    color: #807A85;
}
.site.jj:nth-child(even) .siteInner .jumpBtn {
    border: 1px solid #807A85;
}
.site.jj:nth-child(even) .siteInner .jumpBtn a {
    color: #807A85;
}
/* circle */
.site.jj .circleImg.jsjq {
    background-image: url(../img/circle04.svg);
}
.site.jj .circle.nonColor .circleImg.jsjq {
    background-image: url(../img/circle05.svg);
}

/* effectScript */
#effectScript {
    padding: 15vw 0;
    overflow: hidden;
    background: #AAAEB9;
}
#effectScript .container {
    overflow: visible;
}
#effectScript .swiper {}
#effectScript .swiper.mySwiper {}
#effectScript .swiper.mySwiper .swiper-wrapper {
    align-items: center;
}
.swiper-wrapper .num {
    position: absolute;
    font-size: 41.7vw;
    font-weight: 900;
    color: #A5A9B2;
    letter-spacing: -4vw;
    opacity: .5;
    top: -28vw;
}
.swiper-wrapper .num:nth-child(2) {left: 52vw;}
.swiper-wrapper .num:nth-child(3) {left: 108vw;}
.swiper-wrapper .num:nth-child(4) {left: 163vw;}
.swiper-wrapper .num:nth-child(5) {left: 213vw;}
#effectScript .swiper.mySwiper .swiper-wrapper .swiper-slide{}
.swiper-slide.hovereffect {
    margin-right: 25vw;
}
.swiper-slide.hovereffect .effImgWrap {
    position: relative;
    /* width: 26.83vw;
    height: 35.8vw; */
    width: 27vw;
    height: 27vw;
    overflow: hidden;
    transition: all 700ms ease;
}
.swiper-slide.hovereffect .effImgWrap:hover {
    width: 50vw;
    height: 35.8vw;
}
.swiper-slide.hovereffect .effImgWrap img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}
.swiper-slide.hovereffect .effImgWrap .imgHover {
    position: absolute;
    width: 50vw;
    height: 35.8vw;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 300ms ease;
}
.swiper-slide.hovereffect .effImgWrap:hover .imgHover {
    opacity: 1;
}
.swiper-slide.hovereffect:nth-child(even) .effImgWrap {
    /* width: 27vw;
    height: 27vw; */
    width: 26.83vw;
    height: 35.8vw;
}
.swiper-slide.hovereffect:nth-child(even) .effImgWrap:hover {
    width: 50vw;
    /* height: 35.8vw; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFE7;
    text-align: center;
    padding-top: 5.2vw;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms ease;
}
.swiper-slide.hovereffect .effImgWrap:hover .overlay {
    opacity: 1;
    z-index: 9999;
}
.overlay p {
    font-size: 3.15vw;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.8;
}
.overlay div {
    width: 5.2vw; height: 5.2vw;
    background: rgba(196,196, 196, 0.7);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5.5vw;
}
.overlay a {
    font-family: 'Inter';
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFE7;
    line-height: 5.2vw;
}
/* scriptDetail */
.scriptDetail {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -2.5vw;
    left: 50%;
    transform: translateX(-50%);
}
.scriptDetail .detailIcon {
    position: relative;
    width: 1vw; height: 1vw;
    margin-right: 10px;
}
.scriptDetail .detailIcon span {
    position: absolute;
    width: 6px; height: 6px;
    background: #EEEBF6;
    border-radius: 50%;
}
.scriptDetail .detailIcon span:first-child {left: 0; top: 0;}
.scriptDetail .detailIcon span:nth-child(2) {left: 0; bottom: 0;}
.scriptDetail .detailIcon span:nth-child(3) {right: 0; top: 0;}
.scriptDetail .detailIcon span:nth-child(4) {right: 0; bottom: 0;}
.scriptDetail p {
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    color: #EEEBF6;
    line-height: 1.4;
    font-size: 1.04vw;
}
.scriptDetail:hover .detailIcon {}


/* phpRefer */
#phpRefer {
    background: #E9EDE3;
    padding-top: 30vw;
}

#phpRefer .ppTitle {
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    margin: 16vw 0 11vw;
    color: #6E7266;
    margin-bottom: 15vw;
}
.site.pp {
    background: #A3AE95;
}
.site.pp .siteInner .num {
    color: #99A688;
}
.site.pp .siteInner .title {
    color: #E6EAE1;
}
.site.pp .siteInner .referDesc {
    color: #E6EAE1;
}
.site.pp .siteInner .jumpBtn {
    border: 1px solid #E6EAE1;
}
.site.pp .siteInner .jumpBtn a {
    color: #E6EAE1;
}
/* even */
.site.pp:nth-child(even) {
    background: #E9EDE3;
}
.site.pp:nth-child(even) .siteInner .num {
    color: #D7E1C3;
}
.site.pp:nth-child(even) .siteInner .title {
    color: #6E7266;
}
.site.pp:nth-child(even) .siteInner .referDesc {
    color: #6E7266;
}
.site.pp:nth-child(even) .siteInner .jumpBtn {
    border: 1px solid #6E7266;
}
.site.pp:nth-child(even) .siteInner .jumpBtn a {
    color: #6E7266;
}
/* circle */
.site.pp .circleImg.pp {
    background-image: url(../img/circle06.svg);
}

.site.pp .circle.nonColor .circleImg.pp {
    background-image: url(../img/circle05.svg);
}


/* footer */
#contact{
    width: 100%;
    position: relative;
}
#main #contact .imgWrap {
    /* position: relative; */
    max-width: 100%;
    height: 120vh;
    overflow: hidden;
}
#contact .imgWrap::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 28, 26, 0.6);
}
#main #contact .imgWrap img{
    vertical-align: top;
    width: 100vw;
    top: -60%;
}
.contactTitle {
    position: absolute;
    left: 50%; top: 20%;
    transform: translateX(-50%);
    text-align: center;
}
.contactTitle div {
    font-family: 'Silk Serif';
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 10vw;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    width: 90vw;
    padding-top: 1vw;
}
.textInner > div {
    transform: translateY(135%) skewY(5deg);
    transition: transform 1.5s cubic-bezier(.22, .61, .36, 1);
}
.contactDesc {
    position: absolute;
    left: 50%; bottom: 40%;
    transform: translateX(-50%);
}
.contactDesc div {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.04vw;
    text-align: center;
    white-space: nowrap;
}


/* mediaquery */
@media(max-width: 600px){
    .introDesc > div {
        font-size: 2.5vw;
    }
    .menu {
        display: none;
    }
    .menuMobile {
        display: block;
    }
    .aboutImg {
        /* justify-content: left !important; */
    }
    .aboutImg img:first-child {
        width: 100% !important;
    }
    .aboutImg img:nth-child(2),
    .aboutImg img:nth-child(3) {
        display: none !important;
    }
    #aboutIntro p {
        font-size: 2.5vw;
    }
}
@media(max-width: 840px){
    #intro {
        position: relative;
        background: url(../img/main.jpg);
        background-position: center top;
        background-size: cover;
        height: 115vh;
        overflow: hidden;
    }
    #main #intro .imgWrap img {
        display: none;
    }
    .introTitle,
    .introDesc {
        z-index: 10;
    }
    .contactDesc > div {
        font-size: 2vw;
    }
    #contact {
        position: relative;
        background: url(../img/contact.jpg);
        background-position: center top;
        background-size: cover;
        height: 115vh;
        overflow: hidden;
    }
    #main #contact .imgWrap img {
        display: none;
    }
    .contactTitle,
    .contactDesc {
        z-index: 10;
    }
    .contactDesc div {
        font-size: 2vw;
    } 
}